/Hackathons/Pre_Human_Activity_Recognition/Hackathons/datasets
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/submissions
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/database
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/features
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/AutogluonModels
/Hackathons/Human_Activity_Recognition/database
/Hackathons/Human_Activity_Recognition/datasets
/Hackathons/Human_Activity_Recognition/features
/Hackathons/Human_Activity_Recognition/submissions
/Hackathons/Human_Activity_Recognition/AutogluonModels

/Hackathons/Epidemiology/database
/Hackathons/Epidemiology/datasets

/kaggles/Store_Sales/datasets
/kaggles/Store_Sales/submissions

/kaggles/Spaceship_Titanic/datasets
/kaggles/Spaceship_Titanic/submissions

/kaggles/NLP_Getting_Started/datasets
/kaggles/NLP_Getting_Started/submissions

/kaggles/House_Prices/datasets
/kaggles/House_Prices/submissions

/kaggles/Digit_Recognizer/datasets
/kaggles/Digit_Recognizer/submissions

/kaggles/Titanic/datasets
/kaggles/Titanic/submissions
/Kaggles/Titanic/notebooks/AutogluonModels