/Hackathons/Pre_Human_Activity_Recognition/Hackathons/datasets
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/submissions
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/database
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/features
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/AutogluonModels
/Hackathons/Human_Activity_Recognition/database
/Hackathons/Human_Activity_Recognition/datasets
/Hackathons/Human_Activity_Recognition/features
/Hackathons/Human_Activity_Recognition/submissions
/Hackathons/Human_Activity_Recognition/AutogluonModels

/Hackathons/Epidemiology/database
/Hackathons/Epidemiology/datasets

/Kaggles/Store_Sales/datasets
/Kaggles/Store_Sales/submissions

/Kaggles/Spaceship_Titanic/datasets
/Kaggles/Spaceship_Titanic/submissions

/Kaggles/NLP_Getting_Started/datasets
/Kaggles/NLP_Getting_Started/submissions

/Kaggles/House_Prices/datasets
/Kaggles/House_Prices/submissions

/Kaggles/Digit_Recognizer/datasets
/Kaggles/Digit_Recognizer/submissions

/Kaggles/Titanic/datasets
/Kaggles/Titanic/submissions
/Kaggles/Titanic/notebooks/AutogluonModels