/Hackathons/Pre_Human_Activity_Recognition/Hackathons/datasets
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/submissions
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/database
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/features
/Hackathons/Pre_Human_Activity_Recognition/Hackathons/AutogluonModels
/Hackathons/Human_Activity_Recognition/database
/Hackathons/Human_Activity_Recognition/datasets
/Hackathons/Human_Activity_Recognition/features
/Hackathons/Human_Activity_Recognition/submissions
/Hackathons/Human_Activity_Recognition/AutogluonModels

/Hackathons/Epidemiology/database
/Hackathons/Epidemiology/datasets